@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Roboto', sans-serif;;
  background: #0A192E;

}

.container{
  margin: auto;
  width: 55%;
}

.bottom-line {
  height: 2px;
  width: 5rem;
  background-color: #64FFDA;
  display: block;
  margin: 0 auto 1rem auto; }
